



.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap : 10px;
    
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 20%;
    box-shadow: #edadad 0px 0px 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 8vmin;
    background-color: rgba(240, 240, 240, 0.8);
   color: #b0413e;
   
}
body {
  /*background-color: rgb(240, 178, 178); */
  background-image: url('https://firefox-settings-attachments.cdn.mozilla.net/main-workspace/newtab-wallpapers-v2/43793431-0f4a-473b-b346-7c30df84af10.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
button {
  padding: 15px 30px;     /* Top/Bottom and Left/Right padding */
  font-size: 18px;         /* Bigger text */
  width: 200px;            /* Optional fixed width */
  height: 60px;            /* Optional fixed height */
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  background: rgb(255, 255, 255);
  text-align: center;  
  padding: 18px;
  border-radius: 10px;  
  transition: text-shadow 0.3s ease;
}

h1:hover {
  text-shadow:
    0 0 5px #66ccff,
    0 0 10px #66ccff,
    0 0 20px #66ccff;
}
#winmsg{
    color: black;
    font-size: 24px;
}
p {
  color: red;
  font-size: 20px;
  background: lightblue;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  transition: text-shadow 0.3s ease;
}

p:hover {
  text-shadow:
    0 0 5px #66ccff,
    0 0 10px #66ccff,
    0 0 20px #66ccff;
}

button {
  padding: 15px 30px;
  font-size: 18px;
  width: 200px;
  height: 60px;
  transition: text-shadow 0.3s ease;
}

button:hover {
  text-shadow:
    0 0 5px #66ccff,
    0 0 10px #66ccff,
    0 0 20px #66ccff;
}

.hidden {
  display: none;
}

#reset{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #f0f0f0;
    color: black;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

