h1{
    color: blue;
    font-size: 24px;
    background: lightgray;
    text-align: center;
    display: block;
}

#newid{
    color: red;
    font-size: 20px;
    background: yellow;
    text-align: center;
    display: block;
}
body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYcwICdCDvNTC-GkVZkuuOwCoAyffo4bGQ4A&s');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
