html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Segoe Script', cursive;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container {
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.box {
  height: 15vmin;
  width: 15vmin;
  border-radius: 20%;
  box-shadow: #edadad 0px 0px 10px;
  font-size: 6vmin;
  background-color: rgba(240, 240, 240, 0.85);
  color: #b0413e;
  transition: text-shadow 0.3s ease;
}

.box:hover {
  text-shadow:
    0 0 5px #f8f0ff,
    0 0 10px #f8f0ff,
    0 0 20px #f8f0ff;
}

body {
  background-image: url('https://firefox-settings-attachments.cdn.mozilla.net/main-workspace/newtab-wallpapers-v2/43793431-0f4a-473b-b346-7c30df84af10.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

button {
  padding: 15px 30px;
  font-size: 18px;
  width: 200px;
  height: 60px;
  transition: all 0.3s ease;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #f0f0f0;
  color: black;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
  text-shadow:
    0 0 5px #f8f0ff,
    0 0 10px #f8f0ff,
    0 0 20px #f8f0ff;
  box-shadow: 0 0 15px #f8f0ff;
}

h1,
#winmsg {
  color: rgb(0, 0, 0);
  font-size: 24px;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding: 18px;
  border-radius: 10px;
  transition: text-shadow 0.3s ease;
}

h1:hover,
#winmsg:hover {
  text-shadow:
    0 0 5px #f8f0ff,
    0 0 10px #f8f0ff,
    0 0 20px #f8f0ff;
}

p {
  color: red;
  font-size: 20px;
  background: rgba(173, 216, 230, 0.85);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  transition: text-shadow 0.3s ease;
}

p:hover {
  text-shadow:
    0 0 5px #f8f0ff,
    0 0 10px #f8f0ff,
    0 0 20px #f8f0ff;
}

span:hover {
  text-shadow:
    0 0 5px #f8f0ff,
    0 0 10px #f8f0ff,
    0 0 20px #f8f0ff;
  transition: text-shadow 0.3s ease;
}

.hidden {
  display: none;
}

#reset {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #f0f0f0;
  color: black;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

#reset:hover {
  transform: scale(1.1);
  text-shadow:
    0 0 5px #f8f0ff,
    0 0 10px #f8f0ff,
    0 0 20px #f8f0ff;
  box-shadow: 0 0 15px #f8f0ff;
}
